.review-box {
  border-bottom: 0.1rem solid var(--light-gray);
}

.upper-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 1rem 0;
}

.middle-box {
  display: flex;
  justify-content: space-between;
}

.my-review-camp-name {
  font-size: var(--content);
  font-weight: bold;
}

.my-review .review-img {
  width: 12rem;
  height: 10rem;
  border-radius: 0.5rem;
}

.review-date {
  font-size: var(--sub-content);
  font-weight: bold;
  color: var(--light-gray);
}

.review-edit-box {
  display: flex;
  flex-direction: column;
}

.review-edit-btns {
  display: flex;
  padding: 1rem 0;
}
