.upper-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.my-review-camp-name {
  font-size: var(--content);
  font-weight: bold;
}

.my-review .review-img {
  width: 100%;
  height: 25rem;
  padding-top: 1rem;
}

.review-date {
  font-size: var(--sub-content);
  font-weight: bold;
  color: var(--light-gray);
}

.review-edit-box {
  display: flex;
  flex-direction: column;
}

.review-edit-btns {
  display: flex;
  padding-bottom: 1rem;
}
