.review-writer-title {
  font-size: var(--heading);
  font-weight: bold;
  padding-bottom: 1rem;
}

.review-question-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.review-question {
  font-size: var(--sub-heading);
  font-weight: bold;
  margin-bottom: 0.8rem;
}

/* tag 파트 */
.tag-group {
  display: flex;
  margin: 0.5rem 0;
}

.tag-checkbox-wrapper {
  display: flex;
  align-items: center;
}

.tag-checkbox {
  display: none;
}

.tag-label {
  cursor: pointer;
  padding: 0.8rem 0.6rem;
  font-size: var(--sub-content);
  border: none;
  border-radius: 0.4rem;
  background-color: var(--soft-gray);
  transition: background-color 0.3s, border-color 0.3s;
  margin-right: 1rem;
}

.tag-label.good {
  background-color: var(--soft-gray);
  color: black;
}

.tag-label.bad {
  background-color: var(--soft-gray);
  color: black;
}

.tag-label.selected {
  color: white;
}

.tag-label.selected[data-tag="KIND"],
.tag-label.selected[data-tag="GOOD"],
.tag-label.selected[data-tag="EXCELLENT"] {
  background-color: var(--light-green);
}

.tag-label.selected[data-tag="BAD"] {
  background-color: orange;
}

/* Review 입력파트 */
.review-writer-content {
  width: 100%;
  height: 3rem;
  border-radius: 0.3rem;
}

.img-input-title {
  font-size: var(--sub-heading);
  font-weight: bold;
  padding: 1rem 0;
}

.review-writer-content {
  border: 0.1rem solid var(--dark-gray);
  border-radius: 0.3rem;
  padding-bottom: 3rem;
}

.review-writer-content::placeholder {
  color: var (--dark-gray);
}

.review-writer-content:focus {
  color: var(--dark-gray);
  outline: none;
}

.review-regi-btn {
  font-size: var(--content);
  font-weight: bold;
  background-color: var(--dark-green);
  border-radius: 0.3rem;
  border: none;
  color: white;
  align-items: center;
  margin-top: 1rem;
  padding: 0.8rem 1rem;
}
