/***********************************
 *	LoginPage
*/
.login-section {
  margin: 3rem 0;
}

.login-title-wrap {
  width: 100%;
  font-weight: var(--bold);
  line-height: 1.5;
}

.login-title1 {
  font-size: var(--heading);
}

.login-title2 {
  font-size: var(--sub-heading);
}

.login-img {
  width: 40%;
  margin: 4rem auto;
}

.login-img img {
  width: 100%;
}

/************************************
 *	태블릿 CSS
 */
@media screen and (min-width: 800px) {
  .login-title-wrap {
    text-align: center;
  }
  .login-btns-wrap {
    margin-top: 5rem;
  }
  .login-img {
    width: 30%;
  }
}

/************************************
 *	데스크탑 CSS
 */
@media screen and (min-width: 1024px) {
  .login-img {
    width: 15%;
  }
}
