.login-btn {
  width: 100%;
  border: none;
  background: var(--dark-green);
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: var(--content);
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.login-kakao {
  background: #f9e000;
  color: #371a1a;
}

.login-google {
  background: #4286f5;
}

.login-naver {
  background: #03c157;
}

.signup {
  background: none;
  border: 1px solid var(--light-green);
  color: var(--light-green);
  margin-bottom: 3rem;
}

/************************************
 *	태블릿 CSS
 */
@media screen and (min-width: 800px) {
  .login-btns {
    width: 50%;
  }

  .signup {
    margin: 0;
  }
}

/************************************
 *	데스크탑 CSS
 */
@media screen and (min-width: 1024px) {
  .login-btns {
    width: 40%;
  }
}
