.mypage-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 calc(50% - 1rem);
  box-sizing: border-box;
  border: 1px solid var(--light-green);
  border-radius: 0.5rem;
  font-size: var(--sub-heading);
  color: var(--light-green);
  padding: 1.5rem;
}

.mypage-btn:link,
.mypage-btn:visited {
  color: var(--light-green);
}

.mypage-btn-icon {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
}

.mypage-btn svg {
  stroke: var(--light-green);
}

/************************************
 *	데스크탑 CSS
 */
@media screen and (min-width: 1024px) {
  .mypage-btn {
    flex-direction: column;
    gap: 1rem;
  }
  .mypage-btn-icon {
    margin: 0;
  }
}
