.camping-title-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.camping-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.camping-list-wraper {
  display: grid;
  grid-template-columns: 18rem 18rem;
  justify-content: space-around;
  align-items: center;
}

.camping-list {
  position: relative;
  display: block;
}

.camping-img {
  width: 18rem;
  height: 16rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.camping-img-heart {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.camping-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.camping-sub-title-wraper,
.camping-info-icons-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.camping-type {
  font-size: 1.4rem;
  color: gray;
}

.camping-price {
  font-size: 1.4rem;
}

.camping-info-star-wraper,
.camping-info-heart-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.camping-info-star,
.camping-info-heart {
  width: 1rem;
  height: 1rem;
}

.camping-info {
  font-size: 1rem;
  color: gray;
}
