.slider-title {
  font-size: var(--heading);
  margin-bottom: 1rem;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}

.slider-main {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.slider-main .swiper-pagination-bullet {
  background-color: white;
  opacity: 0.8;
}

.slider-main .swiper-pagination-bullet-active {
  width: var(--heading);
  opacity: 1;
  border-radius: 1rem;
}

@media screen and (min-width: 800px) {
  .slider-title {
    font-size: 2.5rem;
  }
  .slider-main {
    height: 30rem;
  }
}
