.chat-room-title-wrap {
  border-bottom: 1px solid var(--bg-gray);
}

.chat-room-title {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: var(--heading);
  font-weight: bold;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.chat-room-prev {
  width: 2.5rem;
  height: 2.5rem;
  transform: scaleX(-1);
  cursor: pointer;
}

.chat-room-prev svg {
  stroke: #000;
}

.chat-room-wrap .error-message {
  margin-bottom: 2rem;
}

.chat-room-wrap {
  height: 100%;
}

.chat-room-open {
  font-size: var(--content);
  height: calc(100% - 18rem);
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 3rem;
	width: calc(100% + 2.5rem);
}

.chat-room-open::-webkit-scrollbar {
  background: none;
  width: 2.5rem;
  height: 100%;
}

.chat-room-open::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 2rem;
  background-clip: padding-box;
  border: 10px solid transparent;
}

/************************************
 *	메시지
 */
.chat-message-date {
  padding: 0.5rem;
  background: var(--light-gray);
  width: 100%;
  max-width: 11rem;
  margin: 0 auto 4rem;
  border-radius: 1rem;
  color: #fff;
  font-size: var(--content);
  text-align: center;
  white-space: nowrap;
}

.chat-message {
  display: flex;
  justify-content: left;
  align-items: end;
  gap: 1rem;
  margin: 2rem 0;
  position: relative;
}

.chat-message-writer {
  position: absolute;
  left: 0;
  bottom: 100%;
  margin-bottom: 0.5rem;
  color: var(--light-gray);
  font-size: var(--content);
}

.chat-message-content {
  border: 1px solid var(--dark-green);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 60%;
}

.chat-message-time {
  font-size: var(--content);
  color: var(--light-gray);
}

/************************************
 *	참여자 메시지
 */
.chat-message-right {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  text-align: right;
  margin-left: 40%;
}

.chat-message-right .chat-message-writer {
  left: auto;
  right: 0;
}

.chat-message-right .chat-message-content {
  background: var(--dark-green);
  color: #fff;
}

/************************************
 *	메시지 입력창
 */
.chat-send-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background: #fff;
  padding: 2.5rem 3rem;
  border-top: 1px solid var(--bg-gray);
}

.chat-input-wrap {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.chat-input {
  border: none;
  border-radius: 1rem;
  background: var(--bg-gray-50);
  padding: 1rem 1.5rem;
  width: 100%;
  box-sizing: border-box;
  font-size: var(--content);
}

.chat-input:focus-visible {
  outline: 2px solid var(--dark-green);
}

.chat-input::placeholder {
  font-size: var(--sub-content);
  color: var(--light-gray);
}

.chat-send-btn {
  border: none;
  background: var(--dark-green);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  color: #fff;
  cursor: pointer;
}

.chat-finish-btn {
  border: 1px solid var(--dark-green);
  background: none;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  color: var(--dark-green);
  white-space: nowrap;
  cursor: pointer;
}

/************************************
 *	태블릿 CSS
 */
@media screen and (min-width: 800px) {
  .chat-room-open {
    height: calc(100% - 23rem);
  }

  .chat-send-wrap {
    flex-direction: column;
    width: 40rem;
    padding: 2.5rem 3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}
