.chat-modal {
  position: fixed;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: calc(100% - 7rem);
  background: #fff;
  padding: 3rem;
  box-sizing: border-box;
  font-size: var(--sub-heading);
  transition: right 0.5s ease;
  overflow: hidden;
}

.chat-modal.chat-open {
  right: 0;
}

.chat-modal.chat-close {
  right: -100%;
}

.chat-close-btn {
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  cursor: pointer;
}

/************************************
 *	태블릿 CSS
 */
@media screen and (min-width: 800px) {
  .chat-modal {
    bottom: 10rem;
    width: 40rem;
    height: 65rem;
    border-radius: 2rem;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.2);
    z-index: auto;
  }

  .chat-modal.chat-open {
    right: 1.5rem;
  }
}
