.chat-info-wrap {
  width: 100%;
  line-height: 1.5;
  margin: 3rem 0;
  background: var(--bg-gray-50);
  border-radius: 1rem;
  padding: 2rem;
  box-sizing: border-box;
}

.chat-info {
  display: flex;
  justify-content: start;
	align-items: center;
  gap: 1rem;
}

.chat-admin-icon {
  width: 5rem;
}

.chat-admin-icon img {
  width: 100%;
}

.chat-info li:first-child {
  font-weight: bold;
}
