/* BookPage.jsx */
.book-page {
}

.book-page-title {
  font-size: var(--heading);
  font-weight: bold;
  padding-top: 1rem;
}

.book-date {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.book-date-title {
  font-weight: bold;
  font-size: var(--sub-heading);
  padding-bottom: 0.5rem;
  margin: 1rem 0;
}

.date-confirm-button {
  background-color: var(--dark-green);
  color: white;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: var(--content);
  margin: 2rem 0;
}

/* BookInfo.jsx */
.book-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.camping-name {
  font-size: var(--sub-heading);
  font-weight: bold;
  padding-bottom: 1rem;
}

.camping-num {
  font-size: var(--content);
}

.book-img {
  width: 20rem;
  height: 15rem;
  border-radius: 0.5rem;
}

.counter-title {
  font-weight: bold;
  font-size: var(--sub-heading);
  padding-bottom: 1rem;
}
