/* BookPage.jsx */
.title {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1rem;
}

.book-date {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.book-date h3 {
  font-weight: bold;
  font-size: var(--sub-heading);
}

.confirm-button {
  margin: 1rem 0;
}

/* BookInfo.jsx */
.book-info {
  display: flex;
  align-items: center;
}

.book-img {
  width: 20rem;
  height: 10rem;
  border-radius: 1rem;
}

.book-contents {
  padding-left: 1rem;
}

.book-name {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.book-num {
  font-size: 1.4rem;
}
