.header {
  display: flex;
  justify-content: space-between;
  align-items: 20px;
  padding: 15px;
  background-color: white;
}

.logo {
  display: flex;
  width: 30px;
  height: 30px;
}

.icons {
  display: flex;
}

.header-icon {
  gap: 20px;
  width: 30px;
  height: 30px;
}
