.header {
  display: flex;
  justify-content: space-between;
  align-items: 0.2rem;
  padding: 1.5rem;
  background-color: white;
}

.logo {
  display: flex;
  width: 3rem;
  height: 3rem;
}

.icons {
  display: flex;
}

.header-icon {
  gap: 2rem;
  width: 3rem;
  height: 3rem;
}
