h2 {
  font-size: var(--heading);
  font-weight: bold;
  padding-bottom: 1rem;
}

h3 {
  font-size: var(--sub-heading);
  font-weight: bold;
  padding-bottom: 1rem;
}

.payment-title {
  margin-top: 1rem;
  border-top: 0.1rem solid black;
  padding-top: 1rem;
}

.payment-info-title {
  display: flex;
  justify-content: space-between;
}

.payment-info div {
  padding-bottom: 1rem;
}

.payment-info p {
  font-size: var(--content);
}

.input-name,
.input-number {
  width: 100%;
  height: 2rem;
}

.input-require {
  width: 100%;
  height: 6rem;
}

.coupon-pick {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1rem;
  border-top: 0.1rem solid black;
}

/* 결제금액 세부항목 */
.payment {
  padding-top: 1rem;
  border-top: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
}

.payment h3 {
  font-size: var(--sub-heading);
}
.payment-detail {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}

.payment-detail div {
  font-size: var(--content);
  padding-bottom: 0.5rem;
}

.oneday,
.oneday-amount {
  color: var(--light-gray);
}

.total,
.total-amount {
  font-weight: bold;
  padding-top: 1rem;
}

/* 결제 약관동의 */
.payment-policy {
  padding-top: 1rem;
}

.payment-policy h2 {
  font-size: var(--sub-heading);
  font-weight: bold;
}

.policy-1,
.policy-2,
.policy-3,
.policy-4 {
  display: flex;
  padding-left: 0.5rem;
  align-items: center;
  font-size: var(--sub-content);
}

.policy-1 {
  font-weight: bold;
}

.checkImg {
  width: 1.5rem;
  color: var(--light-green);
}
