.cash-charge-btn {
  border: none;
  background: var(--dark-green);
  color: #fff;
  font-size: var(--sub-heading);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}

.cash-charge-img {
  width: var(--heading);
  height: var(--heading);
}

.footer-cash-page {
  padding-bottom: 6rem;
}

/************************************
 *	데스크탑 CSS
 */
@media screen and (min-width: 1024px) {
  .cash-charge-btn {
    bottom: auto;
		top: 40%;
    left: 15%;
    width: 10%;
    border-radius: 0.5rem;
  }
}
