.cash-title-wrap {
  font-size: var(--heading);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cash-move-prev {
  width: var(--heading);
  height: var(--heading);
  transform: scaleX(-1);
}

.cash-move-prev svg {
  stroke: #000;
}
