.capmingTitle {
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.topBtn {
  display: flex;
  justify-content: center;
}

.campingRegisterBtn {
  width: 17rem;
  height: 5rem;
  margin: 3rem 1rem 0 0;
  border-radius: 1rem;
  border: none;
  background-color: #03a678;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.campingCorrectBtn {
  width: 17rem;
  height: 5rem;
  margin: 3rem 0 0 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #038153;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.staticsTitle {
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.staticsCategory {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.staticsCategorySite {
  width: 9rem;
  height: 3.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  border-radius: 2rem;
  border: 1px solid #03a678;
  background-color: white;
  color: #03a678;
  margin-right: 1rem;
  cursor: pointer;
}
.staticsCategorySite:focus {
  width: 9rem;
  height: 3.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  border-radius: 2rem;
  border: 1px solid #03a678;
  background-color: #03a678;
  color: white;
  margin-right: 1rem;
  cursor: pointer;
}

.staticsCategoryUser {
  width: 10rem;
  height: 3.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  border-radius: 2rem;
  border: 1px solid #03a678;
  background-color: white;
  color: #03a678;
  margin-right: 1rem;
  cursor: pointer;
}

.staticsCategoryUser:focus {
  width: 10rem;
  height: 3.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  border-radius: 2rem;
  border: 1px solid #03a678;
  background-color: #03a678;
  color: white;
  margin-right: 1rem;
  cursor: pointer;
}

.staticsCategoryReview {
  width: 10rem;
  height: 3.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  border-radius: 2rem;
  border: 1px solid #03a678;
  background-color: white;
  margin-right: 1rem;
  color: #03a678;
  cursor: pointer;
}
.staticsCategoryReview:focus {
  width: 10rem;
  height: 3.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  border-radius: 2rem;
  border: 1px solid #03a678;
  background-color: #03a678;
  color: white;
  margin-right: 1rem;
  cursor: pointer;
}

.staticsCategorySale {
  width: 7rem;
  height: 3.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  border-radius: 2rem;
  border: 1px solid #03a678;
  background-color: white;
  color: #03a678;
  cursor: pointer;
}

.staticsCategorySale:focus {
  width: 7rem;
  height: 3.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  border-radius: 2rem;
  border: 1px solid #03a678;
  background-color: #03a678;
  color: white;
  cursor: pointer;
}

.imageContainer {
  width: 42rem;
  height: 20rem;
  display: flex;
  justify-content: center;
}

.notiTitle {
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.notiRegisterBtn {
  width: 17rem;
  height: 5rem;
  margin: 3rem 1rem 0 0;
  border-radius: 1rem;
  border: none;
  background-color: #03a678;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.notiCorrectBtn {
  width: 17rem;
  height: 5rem;
  margin: 3rem 0 0 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #038153;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.reserveTitle {
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.reserveSeeBtn {
  width: 13rem;
  height: 4rem;
  margin: 2rem 0 0 0;
  border-radius: 1rem;
  border: none;
  background-color: #038153;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
