.footer {
  position: fixed;
  bottom: 0;
  width: 90%;
  color: black;
  text-align: center;
  padding: 0 20px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer-policy {
  display: flex;
  justify-content: space-between;
}

.policy {
  font-size: 14px;
}

.footer-contact {
  display: flex;
}

.contact-title {
  font-size: 14px;
  font-weight: 900;
}

.time {
  font-size: 14px;
}

.questions {
  font-size: 14px;
  font-weight: bold;
}

.company-info {
  font-size: 14px;
  font-weight: bold;
}
