.header {
  display: flex;
  justify-content: space-between;
  align-items: 20px;
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid green;
}

.logo {
  width: 30px;
  height: 30px;
}

.header-icons {
  display: flex;
  gap: 20px;
}

.header-icons img {
  width: 30px;
  height: 30px;
}
