.main-review-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main-review-wraper {
  display: flex;
  padding-bottom: 0.5rem;
}

.main-review-img {
  width: 9rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.main-review-text {
  font-size: 1.4rem;
  padding: 1rem 0;
}

.main-review-time {
  font-size: 1rem;
  color: gray;
  padding-bottom: 1rem;
}

.main-review-place {
  font-size: 1.4rem;
  font-weight: bold;
}
