.postcode-wrap {
  margin: 0;
}

.postcode-btn-wrap {
  margin-bottom: 2rem;
  text-align: right;
}

.postcode-btn {
  border: 1px solid var(--light-green);
  border-radius: 0.5rem;
  color: var(--light-green);
  background: transparent;
  padding: 0.5rem 1rem;
	cursor: pointer;
}
