/***********************************
 *	이미지 영역
*/
.user-profile-img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--sub-heading);
  font-weight: bold;
  padding: 1rem 0 3rem;
}

.profile-img-wrap {
  padding: 1rem 0;
  position: relative;
  margin-bottom: 0.5rem;
}
#profile-img-input {
  display: none;
}

#profile-img-input + label {
  display: block;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-img-user {
  transform: scale(1.2);
}

.profile-img-user svg {
  fill: var(--bg-gray);
}

.profile-img-photo {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

.profile-img-photo svg {
  fill: var(--light-green);
}

/***********************************
 *	텍스트 영역
*/
.profile-txt-wrap {
  padding: 2rem 0;
  width: 100%;
  font-size: var(--sub-heading);
}

.profile-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.profile-txt > div:first-child {
  color: var(--dark-gray);
}

.profile-txt > div:last-child {
  color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.profile-change {
  margin-left: 1rem;
  color: var(--light-green);
  font-size: var(--content);
}

.profile-address {
  line-height: 1.5;
}

.profile-address div {
  align-self: start;
}
