/***********************************
 *	탈퇴버튼
*/
.delete-account-btn {
  border: none;
  border-radius: 0.5rem;
  background: var(--dark-green);
  color: #fff;
  font-size: var(--sub-heading);
  width: 100%;
  padding: 1rem;
  margin: 2rem 0 4rem;
	cursor: pointer;
}

.delete-account-wrap .error-message {
	margin-top: 2rem;
}

/************************************
 *	데스크탑 CSS
 */
@media screen and (min-width: 1024px) {
  .delete-account-wrap {
    max-width: 600px;
    margin: 6rem auto;
  }
}
